{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
    <form action="" method="post">
        {% csrf_token %}

        {%for field in form %}
        <div class="form-control">
            <label for="">{{field.label}}</label>
            {{ field }}
        </div>
        {% endfor%}
        <div class="btn-group">
            <button class="btn" type="button" ><a class="remove-line" href="{% url 'url_home' %}">Voltar</a</button>
            <button class="btn btn-style-1" type="submit">Salvar</button>
            {% if transacao %}
                <button class="btn btn-style-2"> 
                <a class="remove-line a-red" href="{% url 'url_delete' transacao.id %}">Deletar</a>
                </button>
            {% endif %}
            
        </div>
        
        
    </form>
</div>
</body>
</html>